.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    
}
.header{
    text-align: center;
    color: rgb(26, 26, 31);
        background-color: lightgray;
}
.footer{
    text-align: center;
    color: rgb(26, 26, 31);
    background-color: lightgrey;
}